<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <configSections>
    <section name="ApplicationSettings" type="System.Configuration.NameValueSectionHandler" />
  </configSections>

  <ApplicationSettings>
    <!--<add key="user.emrah" value="key, secret key, groupId, userId"/>-->
    <add key="user.emrah" value="2n7xKS7ddMwddZ9brJ2zdmBDcB1TMZjX69DgbeOJwmsR64TIWfYayRvMMIW6fXbs,qLC26idUZJBpnWCuD83ZC3nhfd6ZbdYPCIiBfRN8LZU5UkExfvPp5XHH927FQlpJ,-515717409,1399339386" />
    <add key="user.ender" value="bJklEzjGQI4XDftp66u6oamMeZFCy5ia0CBGykuQEneg4eFeR5zeLxi7Y6lkVBar,68Zik8Xih0mOSTPcotcaiIG1eOnTaALQAJFlvLpsxpHaGuFfU7KnZhW64BdSmNby,-397534814,1399339380" />
    <add key="user.mali" value="uYRMQ7tnaQ7E0w0cmttkckpghc1nD9kac6P9KQXx2m61S1CboeSghrDeo3jYf2BK,Hv5qH26v41JH9W5y581c0Au0wRhh1Rv1zyvmbTeNLOc1QLceVURzoCOD3bEurW7l,-594508332,1341014544" />
    <add key="user.okan" value="P5QSte3zgUvzHrZyDMwct1ycdNBWXGoJIBwNAge8kbrcAkhJP6i5cRePh1ekAuir,ocFcOeHZZs1OCRMxfyEZqMCdRI5wS6Mx7GQOumIdb4GLznn2KQ0BXMJp2yQHS5v0,-570169855,1399339380" />
  </ApplicationSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>